.App {
  text-align: center;
}

.active, .hidden {
  width: 100%;
  position: absolute;
  top: 50px;
  background: gray;
  list-style-type: none;
  padding: 20px;
  transition: 0.3s;
  box-sizing: border-box;
}

.active {
  left: 0;
}

.hidden {
  left: -100%;
}
